asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
djangorestframework==3.17.1
idna==3.13
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
django-cors-headers
djangorestframework-simplejwt
django-jazzmin
gunicorn
dj-database-url
whitenoise
psycopg2-binary
python-dotenv
sib-api-v3-sdk  
 