asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
djangorestframework==3.17.1
idna==3.13
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
django-cors-headers>=4.0
djangorestframework-simplejwt>=5.2
django-jazzmin>=3.0
gunicorn>=21.0
dj-database-url>=2.0
whitenoise>=6.0
psycopg2-binary>=2.9
python-dotenv>=1.0
sib-api-v3-sdk>=7.0
daphne>=4.0
channels>=4.0
channels-redis>=4.2
websockets>=12.0
